
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Balu</title>

    <link rel="stylesheet" type="text/css" href="css/externalCSS/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/externalCSS/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <script src="js/externalJS/modernizr.js"></script>
